<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание №1</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<div id="app">
    <div class="uk-text-center uk-padding-small">
       <h2>{{getCost}} руб.</h2>
    </div>
    <div class="uk-overflow-auto uk-padding-large">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
            <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-table-expand">Услуга</th>
                <th class="uk-width-small">Стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="service in services" :key="service.id">
                <td><input class="uk-checkbox" type="checkbox" v-model="service.select"></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">{{service.name}}</a>
                </td>
                <td class="uk-text-truncate">{{service.cost}} руб.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script src="../../js/vue.js"></script>
<script src="script.js"></script>
</body>
</html>
